.stats {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: white;
    border-radius: .4rem;
    margin-top: 1rem;
    padding-left: .6rem;
    padding-right: .6rem;
    color: grey;
    font-size: 1.1rem;
}

.actions {
    display: flex;
    gap: 1rem;

}

.action,
.btnClear {
    color: inherit;
    text-decoration: none;
    letter-spacing: .1rem;
}