.containerTask {
    width: 100%;
    margin-top: 1rem;
    border-radius: .4rem;
    display: flex;
    justify-content: space-between;
    background-color: hsl(0, 0%, 98%);
}

.containerTask.dark {
    background-color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%)
}

.notTask {
    width: 100%;
    text-align: center;
    font-weight: 500;
    color: inherit;
}

.taskList {
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: .6rem;
    padding-right: 1rem;
}